
body{
    margin: 0;
    font-family: 'Roboto Slab', serif;
}
h1{
    font-size: 50px;
}
.name{
    color: orange;
    
}
.half-width{
    float: left;
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/profile/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}

.link-button{
    text-decoration: none;
    background-color: royalblue;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}